name: Deploy Node App to Azure WebApp (Production)

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: |
          cd app
          npm ci

      - name: Create deployment package
        run: |
          cd app
          zip -r ../app.zip .

      - name: Deploy to Azure WebApp (Production)
        uses: azure/webapps-deploy@v3
        with:
          app-name: app-azurewebapp123-dev    # <-- your real app name
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: app.zip
