name: Deploy Node App to Azure WebApp

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy Node app directly (Azure will build it)
        uses: azure/webapps-deploy@v3
        with:
          app-name: "app-azurewebapp123-dev"
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: app
